
body {
  min-height: 100%;

  background-color: black;
  background-position: top left, center center, bottom center;
  background-attachment: fixed, fixed, fixed;
}
#main {
  position: relative;
  max-width: 350px;
margin: auto;
  padding: 1.5em 1.5em 1em 1.5em;
  background: #EDFFEC;
  background-image: url(../images/green-paint-brush1.jpg);
  border-style: ridge;
  border-radius: 30px;
  border-color: #FFAAA7;
  border-width: medium;
  cursor: default;
  text-align: center;

  min-height: 100%;
}

@media screen and (max-width: 400px) {
  #main {
    width: 100%;
    padding: 4em 2em 2.5em 2em;
    min-height: 100%;
    min-width:350px;
  }
 
}

h1 {
  text-shadow: 2px 2px #FFAAA7;
  margin: .5rem;
}
h1:hover{
  color:brown;
    text-shadow: 2px 2px black;
}
.subtitle{
  margin:.5rem;
}
.subtitle:hover{
  color:brown;
}
ul{
  text-decoration: none;
  padding-left:0;
  margin-bottom:.5rem;
}
 li {
  display: inline-block;
text-decoration: none;
margin:  5px 5px 15px;
}
i{
  display: inline-block;
  border-radius: 100%;
  border: solid 2px  #949494;
  color:   #949494;
  padding: 0.5em 0.6em;
}
i:hover{
  color: #32a852;
    border: solid 2px  #32a852;
}
.qrcode-image{
  padding: 15px;
}
